.fejlec{
    background-image: url(images/hero.jpg);
    height: 100vh;
    text-align: center;
    background-size: cover;
}
.fejlec h1 {
    color: white;
}
.fejlec p {
    color: white;
}
.tarolo{
    width: 800px;
    margin: auto;
}
.gomb{
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background-color: orange;
    text-align: center;
    width: 150px;
    margin: auto;
    padding: 15px;
    list-style-type: none;
}
.gomb:hover {
    color: black;
    background-color: white;
}
.gomb2{
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: gray;
    width: 150px;
    margin: auto;
    text-align: center;
    list-style-type: none;
    padding: 15px;
}
.gomb2:hover {
    color: black;
    background-color: white;
}
.menu ul {
    list-style-type: none;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu2{
    color: white;
    text-align: center;
    background-color: black;
}
.menu2 ul {
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}
.menu3 {
    color: white;
    background-color: black;
    text-align: center;
}
.menu4 {
    color: white;
    background-color: black;
    text-align: center;
}
a:hover {
    color: black;
    background-color: white;
}
img {
    margin: auto;
    padding: 20px;
    width: 80%;
    text-align: center;
    border-radius: 30px;
}
.img {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.egesz {
    margin: auto;
    padding: 20px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.esemeny {
    color: white;
    background-color: gray;
    border-radius: 20px;
    text-align: left;
    border: 2.5px solid lightgray;
    padding: 10px;
}
.esemeny2 {
    color: white;
    background-color: gray;
    border-radius: 20px;
    text-align: left;
    border: 2.5px solid lightgray;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.jatek {
    color: black;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    padding: 10px;
}
.bekezdes {
    text-align: left;
}
a {
    color: white;
    text-decoration: none;
}
h1 {
    margin: auto;
    font-size: 30px;
}
h2 {
    margin: 20px;
    font-size: 25px;
}
p {
    margin: 20px;
    font-size: 20px;
}
h4{
    margin: auto;
}